
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* Shared styles */

.display-flex{display: flex;}

.text-white{color: white;}

.text-orange{color: rgba(230, 83, 60, 1);}

.bg-black{
background-color: black;
background-size: 1440px 715px;}

.bg-orange{
background-color:rgba(230, 83, 60, 1) ;

border-radius: 20px;
padding: 5px 10px;}

/* Nav related styles */

.nav-item{
list-style: none;
margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}
.navbar{
justify-content: space-between;
align-items: center;
max-width: 1040px;
margin: 0 auto;}

.brand {
    font-style: italic;
    font-style: bold;
    font-weight: 700;
    font-size: 2rem;
}

/* banner related styles */

.banner {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    gap: 200px;
    
}

.banner-content {
    width: 520px;
    height: 282px;
    text-align: left;
    display: flexbox;
}
.banner-title {color: white;
font-size: 4.8rem;}

.banner-description {color: white;}
.image-1 {
    width: 349px;
    height: 580px;
    
}
    .btn-orange {
        background-color:  rgba(230, 83, 60, 1) ;
        color: white;
        padding: 10px 20px;
        font-size: 1rem;
        font font-weight: 600;
        border-radius: 25px
        
    }
    .btn-black{
        background-color:  rgb(12, 12, 12) ;
        color: white;
        padding: 10px 20px;
        font-size: 1rem;
        font font-weight: 600;
        border-radius: 25px

    }
    

    .position-right{
        position: absolute;
        right: 0;
     
       
    }
    #t-1{
        font-size: 1.5rem;
       font-weight: 800 ;
        color: white;
        list-style: none;
    }

    #t-2 {
        font-size: 1rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.411);
        list-style: none;
    
    }

   #t-3{
    font-size: 1.5rem;
       font-weight: 800 ;
        color: white;
        list-style: none;}

   #t-4{
    font-size: 1rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.411);
        list-style: none;}


#p-1{
    background-color: rgba(48, 48, 48, 0.459);
    color: white;
    padding: 20px 23px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 25px;
    margin-left: 0px;
   
}


#p-2{
    background-color: rgba(48, 48, 48, 0.459);
    color: white;
    padding: 20px 23px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 25px;
    margin-right: 0px;
   
    
}

/* responsive media quary */
@media screen and (max-width = 576px) {
    .navbar, .banner {flex-direction: column;}
}